@page "/TexttoSpeech"

@using Microsoft.CognitiveServices.Speech;
@using Microsoft.CognitiveServices.Speech.Audio;
@using Microsoft.CognitiveServices.Speech.Translation;

<PageTitle>Text to Speech</PageTitle>

<h1>Text to Speech</h1>
<hr />
<p>
    <input type="text" class="form-control" @bind-value="InputValue" />
</p>

<button class="btn btn-primary" @onclick="Click_Speak">Speak</button>

@code {
    static string? InputValue { get; set; }

    async Task Click_Speak()
    {
        await SynthesizeAudioAsync();
    }

    static async Task SynthesizeAudioAsync()
    {
        var config = SpeechConfig.FromSubscription("18d499ba22404d2da7a84ef603b1f7d0", "brazilsouth");

        config.SpeechSynthesisLanguage = "pt-BR";
        config.SpeechSynthesisVoiceName = "pt-BR-AntonioNeural";

        using var synthesizer = new SpeechSynthesizer(config);

        await synthesizer.SpeakTextAsync(InputValue);

    }
}
<ChangeBackgroundColor />
<Rodape />