@page "/geekGPT"
@using GeekHubIA.Services

@inject IAnswerGeneratorService AnswerGeneratorService
<PageTitle>GeekGPT</PageTitle>

<h3>GeekGPT</h3>
<br />
<EditForm Model="@assistant">
    <textarea class="form-control" id="txt" @bind="assistant.Prompt"
              style="width:100%;" placeholder="Digite seu prompt aqui" />
    <br/>
    <table>
        <tr>
            <td><button class="btn btn-primary" @onclick="Generate" style="background-color: #157347;">Enviar</button> </td>
            <td><button class="btn btn-primary" @onclick="Clear" style="background-color: rgb(255, 30, 30);">Limpar</button> </td>
        </tr>
    </table>
    <br/>
    <br/>
    <h2>Chat</h2>
    <br />
    <br />
    @if (answers != null && answers.Count > 0)
    {
        foreach(var answer in answers)
        {
            <p class="bg-chat">@answer</p>
        }
    }
</EditForm>
@code {
    Assistant assistant = new Assistant();
    List<string> answers = new List<string>();
    private async void Generate()
    {
        var answer = await AnswerGeneratorService.GenerateAnswer(assistant.Prompt);
        answers.Add(answer);
        StateHasChanged();
    }
    private async void Clear()
    {
        answers = new List<string>();
        assistant.Prompt = string.Empty;
    }
}
<Rodape />